/*!
 * FullCalendar v1.6.1 Stylesheet
 * Docs & License: http://arshaw.com/fullcalendar/
 * (c) 2013 Adam Shaw
 */

.fc {
    direction: ltr;
    text-align: left;
}

.fc table {
    border-collapse: collapse;
    border-spacing: 0;
}

html .fc,
.fc table {
    font-size: 1em;
}

.fc td,
.fc th {
    padding: 0;
    vertical-align: top;
}

/* Header
------------------------------------------------------------------------*/
.fc-header {
    position: relative
}

.fc-header .btn+.btn {
    margin-left: 6px;
}

.fc-header-title {
    margin: 0;
    white-space: nowrap;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    font: 300 20px/34px 'Roboto', sans-serif;
}

.fc .fc-header-space {
    padding-left: 10px;
}

.fc-header .fc-button {
    margin-bottom: 1em;
    vertical-align: top;
}

.fc-header-center {
    position: absolute;
    top: -36px;
    height: 34px;
    width: 100%
}

.fc-button-prev,
.fc-button-next {
    position: relative;
    z-index: 10;
    margin: 0 14px;
    line-height: 34px;
    font-size: 18px;
    cursor: pointer
}

.fc-button-prev {
    float: left
}

.fc-button-next {
    float: right
}

.fc-header-left {
    padding: 10px 14px;
    overflow: hidden
}

.fc-header-left>span {
    display: inline-block;
    border: 1px solid #e1e1e1;
    padding: 6px 9px;
    cursor: pointer
}

.fc-header-left>span+span {
    margin-left: 0px
}

.fc-header-left>span.fc-state-active {
    border-color: rgba(0, 0, 0, .2);
    color: #fff;
    background: #070907
}

.-state-active {
    border-color: rgba(0, 0, 0, .2);
    color: #fff;
    background: #070907
}

/* Content
------------------------------------------------------------------------*/
.fc-content {
    clear: both;
}

.fc-view {
    width: 100%;
    /* needed for view switching (when view is absolute) */
    overflow: hidden;
}

/* Cell Styles
------------------------------------------------------------------------*/
.fc-widget-header,
/* <th>, usually */
.fc-widget-content {
    /* <td>, usually */
    border: 1px solid #ddd;
}

.fc-state-highlight {
    /* <td> today cell */
    /* TODO: add .fc-today to <th> */
    background: #fcf8e3;
}

.fc-state-highlight .fc-day-number {
    background: #f9f0c4 !important
}

.fc-cell-overlay {
    /* semi-transparent rectangle while dragging */
    background: #d6e4f8;
    opacity: .4;
    filter: alpha(opacity=40);
    /* for IE */
}

.fc-border-separate tr .fc-first {
    border-left: none
}

.fc-border-separate tr .fc-last {
    border-right: none
}

.fc-border-separate tr.fc-last td {
    border-bottom: none
}

.fc-button-today {
    float: right
}

.fc-state-disabled {
    border-color: rgba(0, 0, 0, .2);
    color: #fff;
    background: #070907
}



.fc-grid th {
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #e4e4e4 !important;
}

/* Global Event Styles
------------------------------------------------------------------------*/

.fc-event {
    border: none;
    /* default BORDER color */
    background-color: rgba(0, 0, 0, .4);
    /* default BACKGROUND color */
    color: #fff;
    /* default TEXT color */
    font-size: .85em;
    cursor: default;
    padding: 2px 1px;
}

a.fc-event {
    text-decoration: none;
}

a.fc-event:hover {
    text-decoration: none;
    color: #222
}

a.fc-event,
.fc-event-draggable {
    cursor: pointer;
}

.fc-rtl .fc-event {
    text-align: right;
}

.fc-event-inner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    line-height: 14px;
    padding: 1px 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fc-event-time,
.fc-event-title {
    padding: 0 1px;
}

.fc .ui-resizable-handle {
    display: block;
    position: absolute;
    z-index: 99999;
    overflow: hidden;
    /* hacky spaces (IE6/7) */
    font-size: 300%;
    /* */
    line-height: 50%;
    /* */
}



/* Horizontal Events
------------------------------------------------------------------------*/

.fc-event-hori {
    border-width: 1px 0;
    margin-bottom: 2px;
}

.fc-ltr .fc-event-hori.fc-event-start,
.fc-rtl .fc-event-hori.fc-event-end {
    border-left-width: 1px;
}

.fc-ltr .fc-event-hori.fc-event-end,
.fc-rtl .fc-event-hori.fc-event-start {
    border-right-width: 1px;
}

/* resizable */

.fc-event-hori .ui-resizable-e {
    top: 0 !important;
    /* importants override pre jquery ui 1.7 styles */
    right: -3px !important;
    width: 7px !important;
    height: 100% !important;
    cursor: e-resize;
}

.fc-event-hori .ui-resizable-w {
    top: 0 !important;
    left: -3px !important;
    width: 7px !important;
    height: 100% !important;
    cursor: w-resize;
}

.fc-event-hori .ui-resizable-handle {
    _padding-bottom: 14px;
    /* IE6 had 0 height */
}



/* Reusable Separate-border Table
------------------------------------------------------------*/

table.fc-border-separate {
    border-collapse: separate;
}

.fc-border-separate th,
.fc-border-separate td {
    border-width: 1px 0 0 1px;
}

.fc-border-separate th.fc-last,
.fc-border-separate td.fc-last {
    border-right-width: 1px;
}

.fc-border-separate tr.fc-last th,
.fc-border-separate tr.fc-last td {
    border-bottom-width: 1px;
}

.fc-border-separate tbody tr.fc-first td,
.fc-border-separate tbody tr.fc-first th {
    border-top-width: 0;
}



/* Month View, Basic Week View, Basic Day View
------------------------------------------------------------------------*/

.fc-grid th {
    text-align: center;
    text-transform: uppercase;
    background: #f4f4f4
}

.fc .fc-week-number {
    width: 22px;
    text-align: center;
}

.fc .fc-week-number div {
    padding: 0 2px;
}

.fc-grid .fc-day-number {
    padding: 0 4px;
    background: #f8f8f8;
    text-align: right;
    font-size: 11px
}

.fc-grid .fc-other-month .fc-day-number {
    opacity: 0.3;
    filter: alpha(opacity=30);
    /* for IE */
    /* opacity with small font can sometimes look too faded
       might want to set the 'color' property instead
       making day-numbers bold also fixes the problem */
}

.fc-grid .fc-day-content {
    clear: both;
    padding: 2px 2px 1px;
    /* distance between events and day edges */
}

/* event styles */

.fc-grid .fc-event-time {
    font-weight: bold;
}

/* right-to-left */

.fc-rtl .fc-grid .fc-day-number {
    float: left;
}

.fc-rtl .fc-grid .fc-event-time {
    float: right;
}



/* Agenda Week View, Agenda Day View
------------------------------------------------------------------------*/

.fc-agenda table {
    border-collapse: separate;
}

.fc-agenda-days th {
    text-align: center;
}

.fc-agenda .fc-agenda-axis {
    width: 50px;
    padding: 0 4px;
    vertical-align: middle;
    text-align: right;
    white-space: nowrap;
    font-weight: normal;
}

.fc-agenda .fc-week-number {
    font-weight: bold;
}

.fc-agenda .fc-day-content {
    padding: 2px 2px 1px;
}

/* make axis border take precedence */

.fc-agenda-days .fc-agenda-axis {
    border-right-width: 1px;
}

.fc-agenda-days .fc-col0 {
    border-left-width: 0;
}

/* all-day area */

.fc-agenda-allday th {
    border-width: 0 1px;
}

.fc-agenda-allday .fc-day-content {
    min-height: 34px;
    /* TODO: doesnt work well in quirksmode */
    _height: 34px;
}

/* divider (between all-day and slots) */

.fc-agenda-divider-inner {
    height: 2px;
    overflow: hidden;
}

.fc-widget-header .fc-agenda-divider-inner {
    background: #eee;
}

/* slot rows */

.fc-agenda-slots th {
    border-width: 1px 1px 0;
}

.fc-agenda-slots td {
    border-width: 1px 0 0;
    background: none;
}

.fc-agenda-slots td div {
    height: 20px;
}

.fc-agenda-slots tr.fc-slot0 th,
.fc-agenda-slots tr.fc-slot0 td {
    border-top-width: 0;
}

.fc-agenda-slots tr.fc-minor th,
.fc-agenda-slots tr.fc-minor td {
    border-top-style: dotted;
}

.fc-agenda-slots tr.fc-minor th.ui-widget-header {
    *border-top-style: solid;
    /* doesn't work with background in IE6/7 */
}



/* Vertical Events
------------------------------------------------------------------------*/

.fc-event-vert {
    border-width: 0 1px;
}

.fc-event-vert.fc-event-start {
    border-top-width: 1px;
}

.fc-event-vert.fc-event-end {
    border-bottom-width: 1px;
}

.fc-event-vert .fc-event-time {
    white-space: nowrap;
    font-size: 10px;
}

.fc-event-vert .fc-event-inner {
    position: relative;
    z-index: 2;
}

.fc-event-vert .fc-event-bg {
    /* makes the event lighter w/ a semi-transparent overlay  */
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .25;
    filter: alpha(opacity=25);
}

.fc .ui-draggable-dragging .fc-event-bg,
/* TODO: something nicer like .fc-opacity */
.fc-select-helper .fc-event-bg {
    display: none\9;
    /* for IE6/7/8. nested opacity filters while dragging don't work */
}

/* resizable */

.fc-event-vert .ui-resizable-s {
    bottom: 0 !important;
    /* importants override pre jquery ui 1.7 styles */
    width: 100% !important;
    height: 8px !important;
    overflow: hidden !important;
    line-height: 8px !important;
    font-size: 11px !important;
    font-family: monospace;
    text-align: center;
    cursor: s-resize;
}

.fc-agenda .ui-resizable-resizing {
    /* TODO: better selector */
    _overflow: hidden;
}





/* components */

/* panels */
.panel {
    margin-bottom: 0
}

.panel-default {
    border-color: #d30d0d27
}

.panel+.panel {
    margin-top: 30px
}

.panel .panel-heading {
    height: 36px;
    padding: 0 10px
}

.panel .panel-heading .panel-title {
    font: 300 15px/34px 'Roboto', sans-serif;
    margin: 0
}

.panel .panel-heading .form-control {
    width: 180px;
    margin-top: 4px;
    height: 26px;
    padding: 3px 6px
}

.panel .panel-heading input[type=text]+select,
.panel .panel-heading select+input[type=text] {
    margin-right: 10px
}

.panel .panel-heading+.table tbody tr:first-child td,
.panel .panel-heading+.table thead tr:first-child th {
    border-top: none
}

.panel .panel-heading>.btn-group,
.panel .panel-heading>.btn {
    margin-top: 2px
}

.panel .panel-heading>.btn-group-sm,
.panel .panel-heading>.btn-sm {
    margin-top: 5px
}

.panel-default>.panel-heading {
    background: #ea248a;
    border-bottom: 1px solid #d3d3d3
}