<span style='color: #000'>285 frames</span>	<span style='color: #900'>10,752 KB</span>	<span style='color: #090'>120.82 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />